@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --light-color: #b8c6e0;
    --main-blue: #d4e6f1;
    --light-brown: #ededed;
}

* {

}

body {

}

ul {

}


/* Chat Page */



.typical-button {
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

.typical-click {
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.5s;
    cursor: pointer;
}


.chat-container {
    background: #fff;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
.chat-header {
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--main-blue);
}
.chat-title {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 40%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    border: 2px solid black;
}
.chat-leave {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 10%;
    color: black;
    background-color: white;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}
.chat-enterGame {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 70%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 2px solid black;
    cursor: pointer;
}
.chat-main {
position:absolute;
height:60%;
top:15%;
width:100%;
left:0%;
background-color: white;
}
.chat-sidebar {
    position: absolute;
    height: 100%;
    left: 0%;
    top: 0%;
    width: 15%;
    background-color: #fff;
    overflow-y: scroll;
    padding: 10px 10px 10px;
}
.chat-sidebar h2 {
        font-size: 20px;
        background: rgba(0, 0, 0, 0.1);
        padding: 10px;
    }
.chat-sidebar h3 {
        margin-bottom: 15px;
    }
.chat-sidebar ul li {
        padding: 10px 0;
    }
.chat-messages {
    position: absolute;
    width: 80%;
    background-color: white;
    top: 0%;
    left: 15%;
    height: 100%;
    padding: 30px;
    overflow-y: scroll;
    border: 1px solid black;
}
.chat-messages .message {
        padding: 5px;
        margin-bottom: 15px;
        background-color: var(--main-blue);
        border-radius: 15px;
    }
.chat-messages .message .meta {
            font-size: 15px;
            font-weight: bold;
            color: black;
            opacity: 0.7;
            margin-bottom: 5px;
        }
.chat-messages .message .meta span {
                color: darkslateblue;
            }
.chat-form-container {
    position:absolute;
    width:85%;
    top:75%;
    left:15%;
    height:10%;
    background-color:white;
}
.chat-form-container form {
        display: flex;
    }
.chat-form-container input[type='text'] {
        font-size: 16px;
        padding: 5px;
        height: 40px;
        flex: 1;
    }
.chat-form-container button {
        width: 15%;
        height: auto;
        background-color: var(--main-blue);
    }
.chat-role-container {
    background-color: var(--main-blue);
    height: 10%;
    top: 90%;
    left: 0%;
    width: 100%;
    position: absolute;
}
.role-title {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 40%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    border: 2px solid black;
}
.role-engineer {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 10%;
    color: black;
    background-color: white;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}
.role-pilot {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 70%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 2px solid black;
    cursor: pointer;
}
.hover:hover {
    background-color: var(--light-color); /* Green */
    color: black;
}

/* pilot display */

.pilot-container{
    position:absolute;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    background-color: black;
}


.game-header {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 0%;
    background-color: var(--main-blue);
}

.game-timer {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
    background-color: white;
    text-align: center;
    width: 10%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}
.game-title {
    position: absolute;
    top: 20%;
    left: 40%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid black;
}
.game-brief {
    position: absolute;
    top: 20%;
    left: 80%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 10%;
    height: 60%;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 2px solid black;
    cursor: pointer;
}

.pilot-main {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 80%;
    top: 10%;
    background-color: white;
}

.pilot-abort {
    position: absolute;
    left: 0%;
    width: 15%;
    height: 100%;
    top: 0%;
    background-color: var(--light-brown);
}

.abort {
    position: absolute;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 70%;
    height: 10%;
    left:15%;
    border-radius: 10px;
    border: 2px solid black;
}
.header-abort{
    top:20%;
    background-color:transparent;
    border:none;
}
.BIKF-abort {
    top: 30%;
    background: repeating-linear-gradient( 45deg, rgba(255, 0, 0, 0.23), rgba(255, 0, 0, 0.23) 10px, rgba(255, 216, 0, 0.68) 10px, rgba(255, 216, 0, 0.68) 20px );
    cursor: pointer;
    transition-duration: 0.4s;
}
.CYHZ-abort {
    top: 45%;
    background: repeating-linear-gradient( 45deg, rgba(255, 0, 0, 0.23), rgba(255, 0, 0, 0.23) 10px, rgba(255, 216, 0, 0.68) 10px, rgba(255, 216, 0, 0.68) 20px );
    cursor: pointer;
    transition-duration: 0.4s;
}

.pilot-hud {
    position: absolute;
    left: 15%;
    width: 60%;
    height: 100%;
    top: 0%;
    background-color: white;
}

.pilot-ihud {
    position: absolute;
    width: 100%;
    height: 96%;
    top: 2%;
    left: 0%;
    background-color: white;
}
.hud-outer {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 9;
}
.hud-detail {
    position: absolute;
    height: 100%;
    width: auto;
    opacity: 1;
    z-index: 7;
}
.hud-titles {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 10;
}
.hud-sky {
    position: absolute;
    overflow: hidden;
    z-index: 6;
    top:0%;
    left:0%;
    height:100%;
}
.sky-SVG{
    height:100%;
    width:auto;
    position:absolute;
    top:0%;
    overflow:hidden;

}
.roll-pointer-container {
    position: absolute;
    z-index: 8;
    top: 18%;
    left: 41%;
    height: 19%;
    width: 18%;
}
.roll-pointer {
    position: absolute;
    background-color: #efd500;
    top: 0%;
    left: 49%;
    height: 100%;
    width: 2%;
}
.roll-label-container {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 40%;
    height: 14%;
    width: 20%;
}
.roll-arrow-container {
    position: absolute;
    z-index: 10;
    top: 8.4%;
    left: 38.5%;
    height: 3.5%;
    width: 23%;
}
.roll-arrow {
    position: absolute;
    height: auto;
    width: 12%;
    top: 0%;
    left: 44.5%;
}
.roll-button {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
    color: white;
    font-size: 15px;
    border: none;
    background-color: Transparent;
}
.pitch-pointer-container {
    position: absolute;
    z-index: 8;
    top: 0%;
    left: 60%;
    height: 100%;
    width: 15%;
}
.pitch-pointer {
    position: relative;
    background-color: #efd500;
    top: 50%;
    left: 0%;
    height: 0.7%;
    width: 100%;
}
.pitch-label-container {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 68%;
    height: 40%;
    width: 11%;
}
.pitch-button {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
    color: white;
    font-size: 15px;
    border: none;
    background-color: Transparent;
}
.pitch-arrow-container {
    position: absolute;
    top: 34%;
    left: 76.5%;
    height: 32%;
    width: 2.1%;
    z-index: 10;
}
.pitch-arrow {
    position: absolute;
    width: auto;
    height: 8.2%;
    top: 46%;
    left: 0%;
}
.yaw-pointer-container {
    position: absolute;
    z-index: 8;
    top: 63%;
    left: 41%;
    height: 19%;
    width: 18%;
}
.yaw-pointer {
    position: absolute;
    background-color: #efd500;
    top: 0%;
    left: 49%;
    height: 100%;
    width: 2%;
}
.yaw-label-container {
    position: absolute;
    z-index: 10;
    top: 76%;
    left: 40%;
    height: 14%;
    width: 20%;
}
.yaw-arrow-container {
    position: absolute;
    z-index: 10;
    top: 88.5%;
    left: 38.5%;
    height: 4.2%;
    width: 23%;
}
.yaw-arrow {
    position: absolute;
    width: 12%;
    height: auto;
    top: 0%;
    left: 44%;
}
.yaw-button {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
    color: white;
    font-size: 15px;
    border: none;
    background-color: Transparent;
}

.pilot-control {
    background-color: var(--light-brown);
    position: absolute;
    top: 0%;
    width: 25%;
    left: 75%;
    height: 100%;
}

.roll {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0%;
    z-index: 2;
}
.roll-left {
    height: 80%;
    width: auto;
    top: 10%;
    left: 0%;
    position: absolute;
}
.roll-right {
    height: 80%;
    width: auto;
    top: 10%;
    left: 60%;
    position: absolute;
}
.roll-title {
    height: 100%;
    width: auto;
    top: 0%;
    left: 40%;
    position: absolute;
}
.pitch {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 30%;
    z-index: 3;
}
.pitch-up {
    height: 50%;
    width: auto;
    top: -10%;
    left: 0%;
    position: absolute;
    z-index: 1;
}
.pitch-title {
    height: 30%;
    width: auto;
    top: 35%;
    left: -5%;
    position: absolute;
    z-index: 2;
}
.pitch-down {
    height: 50%;
    width: auto;
    top: 60%;
    left: 0%;
    position: absolute;
    z-index: 1;
}
.yaw {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 70%;
    z-index: 2;
}
.yaw-left {
    height: 80%;
    width: auto;
    top: 10%;
    left: 0%;
    position: absolute;
}
.yaw-right {
    height: 80%;
    width: auto;
    top: 10%;
    left: 60%;
    position: absolute;
}
.yaw-title {
    height: 90%;
    width: auto;
    top: 5%;
    left: 40%;
    position: absolute;
}


.brief-display {
    position: absolute;
    z-index: 16;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity:0.98;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.brief-header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: var(--main-blue);
}

.brief-close {
    position: absolute;
    top: 10%;
    left: 85%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 10%;
    height: 80%;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 2px solid black;
    cursor: pointer;
}

.brief-title {
    position: absolute;
    top: 10%;
    left: 40%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 20%;
    height: 80%;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 2px solid black;
}

.brief-content {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
    background-color: pink;
}

.content-storyline {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: white;
}

.content-role {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: white;
}

.game-footer {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 10%;
    top: 90%;
    background-color: var(--main-blue);
}

.game-ready {
    position: absolute;
    left: 45%;
    top: 20%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 10%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.5s;
    cursor: pointer;
}



    .game-ready:hover {
        background-color: steelblue;
        color: black;
    }

.chat-return {
    position: absolute;
    left: 10%;
    top: 20%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    width: 10%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.5s;
    cursor: pointer;
}

.chat-return:hover {
        background-color: steelblue;
        color: black;
}


/* eng display*/
.eng-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
}

.eng-main {
    width: 100%;
    height: 80%;
    top:10%;
    background-color: pink;
    position: absolute;
}

.graphs-container {
    width: 35%;
    height: 100%;
    background-color: white;
    top: 0%;
    left: 0%;
    position: absolute;
}

.vel-circle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 3%;
    height: 5%;
    background-color: red;
    border-radius: 5px;
    z-index:12;
}

.alt-circle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 3%;
    height: 5%;
    background-color: red;
    border-radius: 5px;
    z-index: 12;
}
.vel-graph {
    width: 80%;
    height: 40%;
    background-color: lightgray;
    top: 5%;
    left: 10%;
    position: absolute;
}
.vel-up-arrow {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 63%;
    left: 73%;
    background-color: red;
    display: none;
}
.vel-up-arrow-outline {
    position: absolute;
    width: 102%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.vubv {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 60%;
    background-color: transparent;
    border: none;
    color: black;
}
.vubt {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 40%;
    background-color: transparent;
    border: none;
    color: black;
}
.vel-down-arrow {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 2%;
    left: 2%;
    background-color: red;
    display:none;
}
.vel-down-arrow-outline {
    position: absolute;
    width: 101%;
    height: 102%;
    top: -1%;
    left: -1%;
}


.vdbt {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 0%;
    background-color: transparent;
    border: none;
    color: black;
}
.vdbv {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 20%;
    background-color: transparent;
    border: none;
    color: black;
}
.alt-graph {
    width: 80%;
    height: 40%;
    background-color: lightgrey;
    top: 55%;
    left: 10%;
    position: absolute;
}
.canvas-container {
    z-index: 10;
    position: absolute;
}
.alt-up-arrow {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 63%;
    left: 73%;
    background-color: red;
    z-index: 8;
    display: none;
}
.aubt {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 40%;
    background-color: transparent;
    border: none;
    z-index: 8;
}
.aubv {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 60%;
    background-color: transparent;
    border: none;
    z-index: 8;
}
.alt-down-arrow {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 2%;
    left: 2%;
    background-color: red;
    z-index: 8;
    display:none;
}
.adbt {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 0%;
    background-color: transparent;
    border: none;
    z-index: 8;
}
.adbv {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 40%;
    top: 20%;
    background-color: transparent;
    border: none;
    z-index: 8;
}
.alt-title {
    background-color: transparent;
    border: none;
    top: 60%;
    left: 10%;
    height: 5%;
    width: 80%;
    position: absolute;
    z-index: 2;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.vel-title {
    background-color: transparent;
    border: none;
    top: 5%;
    left: 10%;
    height: 5%;
    width: 80%;
    position: absolute;
    z-index: 2;
    font-weight: bold;
    color: black;
    font-size: 18px;
}


.cofg-container {
    background-color: white;
    top: 0%;
    width: 20%;
    height: 100%;
    left: 35%;
    position: absolute;
}

.cofg-box {
    top: 20%;
    height: 70%;
    left: 38%;
    width: 24%;
    position: absolute;
    background-color: darkred;
}
.cofg-box2 {
    top: 5%;
    height: 90%;
    left: 0%;
    width: 100%;
    position: relative;
    background-color: red;
}


.cofg-middle {
    position: absolute;
    top: 50%;
    left: -20%;
    width: 140%;
    background-color: black;
    height: 1.5%;
    z-index: 6;
}

.cofg-middle-white {
    position: absolute;
    top: 49.5%;
    left: -21%;
    width: 142%;
    background-color: white;
    height: 2.5%;
    z-index: 5;
}

.cofg-aim-top {
    position: absolute;
    top: 50%;
    left: -20%;
    width: 140%;
    background-color: mediumpurple;
    opacity: 1;
    height: 1%;
    z-index: 3;
}

.cofg-aim-mid {
    position: absolute;
    top: 50%;
    left: -20%;
    width: 140%;
    background-color: mediumpurple;
    opacity: 1;
    height: 1%;
    z-index: 3;
}

.cofg-aim-bot {
    position: absolute;
    top: 50%;
    left: -20%;
    width: 140%;
    background-color: mediumpurple;
    opacity: 1;
    height: 1%;
    z-index: 3;
}


.cofg-top-box {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 100%;
    opacity: 1;
    height: 10%;
    z-index: 2;
    background: rgb(255,0,1);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(58,212,0,1) 90%);
}

.cofg-bot-box {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    opacity: 1;
    height: 10%;
    z-index: 2;
    background: rgb(255,0,1);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(58,212,0,1) 90%);
}


.cofg-title {
    position: absolute;
    top: 12%;
    width: 100%;
    left: 0%;
    height: auto;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.cofg-50 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5%;
    width: 20%;
    height: auto;
    font-size: 20px;
    left: 120%;
}
.cofg-55 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    width: 20%;
    height: auto;
    font-size: 20px;
    left: 120%;
}
.cofg-60 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 95%;
    width: 20%;
    height: auto;
    font-size: 20px;
    left: 120%;
}

.fueltank-container {
    background-color: white;
    height: 100%;
    width: 45%;
    position: absolute;
    left: 55%;
    top: 0%;
    z-index: 3;
}

.fuel-tanks {
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 10;
}
.fuel-fire {
    height: auto;
    position: absolute;
    top: 61%;
    z-index: 9;
}
.fuel-buttons {
    height: 24.7%;
    width: 18.4%;
    top: 39.1%;
    left: 40.8%;
    position: absolute;
    background-color: transparent;
    z-index: 11;
}
.LH2fwd-button {
    top: 0%;
    left: 0%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: repeating-linear-gradient( 45deg, #cecece, #cecece 10px, #e1db61 10px,#e1db61 20px );
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: none;
}
.LH2fwd-buttonON {
    top: 0%;
    left: 0%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: red;
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: block;
}
.LH2aft-button {
    top: 67%;
    left: 0%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: repeating-linear-gradient( 45deg, #cecece, #cecece 10px, #e1db61 10px,#e1db61 20px );
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: none;
}
.LH2aft-buttonON {
    top: 67%;
    left: 0%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: red;
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: block;
}
.LOXfwd-button {
    top: 0%;
    left: 55%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: repeating-linear-gradient( 45deg, #cecece, #cecece 10px, #e1db61 10px,#e1db61 20px );
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: block;
}
.LOXfwd-buttonON {
    top: 0%;
    left: 55%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: red;
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: none;
}
.LOXaft-button {
    top: 67%;
    left: 55%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: repeating-linear-gradient( 45deg, #cecece, #cecece 10px, #e1db61 10px,#e1db61 20px );
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: block;
}
.LOXaft-buttonON {
    top: 67%;
    left: 55%;
    width: 45%;
    height: 33%;
    position: absolute;
    text-align: center;
    background: red;
    border: 4px solid grey;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    display: none;
}
.LH2fwdlabel {
    position: absolute;
    height: 8%;
    top: 8%;
    left: 25%;
    width: 15%;
}
.LH2fwdlabel-content {
    position: absolute;
    height: 8%;
    top: 8%;
    left: 23%;
    width: 15%;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.LOXfwdlabel {
    position: absolute;
    height: 8%;
    top: 23%;
    left: 25%;
    width: 15%;
}
.LOXfwdlabel-content {
    position: absolute;
    height: 8%;
    top: 23%;
    left: 23%;
    width: 15%;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.LH2aftlabel {
    position: absolute;
    height: 8%;
    top: 87%;
    left: 25%;
    width: 15%;
}
.LH2aftlabel-content {
    position: absolute;
    height: 8%;
    top: 87%;
    left: 23%;
    width: 15%;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.LOXaftlabel {
    position: absolute;
    height: 8%;
    top: 75%;
    left: 25%;
    width: 15%;
}
.LOXaftlabel-content {
    position: absolute;
    height: 8%;
    top: 75%;
    left: 23%;
    width: 15%;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.debug-box{
    position: absolute;
    height: 100%;
    width: 50%;
    left:50%;
    top:0%;
}

.debug-left {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0%;
    top: 0%;
    background-color: white;
    opacity: 0.9;
}

.debug-right {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    top: 0%;
    background-color: lightgrey;
    opacity: 0.9;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}


.end-container {
    position: absolute;
    z-index: 16;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0.98;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.end-container-title {
    position: absolute;
    height: 20%;
    width: 100%;
    top:0%;
    background-color: grey;
}

.end-title{
position:absolute;
height: 40%;
top:30%;
width:30%;
left:35%;
}


.end-container-main{
    position: absolute;
    height: 60%;
    width: 100%;
    top: 20%;
    background-color: white;
}


.end-container-footer {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 80%;
    background-color: grey;
}

.end-footer{
    position: absolute;
    height: 40%;
    top: 30%;
    width: 20%;
    left: 40%;
}


.debug-pilot {

    position: absolute;
    height: 35%;
    width: 30%;
    left:-10%;
    top:55%;
    background-color:grey;
    opacity:0.8;
}

.debug-pilot-left{
    position: absolute;
    border: 1px dashed black;
    top:0%;
    height:100%;
    left:0%;
    width:50%;
}

.debug-pilot-right {
    position: absolute;
    border: 1px dashed black;
    top: 0%;
    height: 100%;
    left: 50%;
    width: 50%;
}

.debug-button{
    position:static;
    color:black;
    width:100%;
    height:8%;
    background-color:white;

}

.debug-title {
    position: static;
    color: black;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
}


















